<div class="row">
    <div class="col-8 offset-2">
        {{!-- Taking out hello for now --}}
        {{!-- <h2>Hello {{user.email}}!</h2> --}}
        <header>
            <h2 id="djr">Dream Job Results!<span class="badge badge-secondary"></span></h2>
        </header>
        <div class="container">
            <div class="results">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-header">
                                Your Matching Results:
                            </div>
                            <div class="card-body">
                                <div class="resultlist">

                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{#each jobsMatched}}
                                                {{this}}
                                                {{/each}}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{#each jobsMatched3}}
                                                    {{this}}
                                                {{/each}}</h6>
                                            <p class="card-text">{{#each jobsMatched4}}
                                                    {{this}}
                                                {{/each}}</p>
                                            <a href={{#each jobsMatched2}} {{this}} {{/each}} class="card-link">"Click
                                                here to Apply!</a>
                                            <button type="button" class="btn btn-primary btn-sm" id="submitResult">Save
                                                Job To Profile</button>

                                        </div>
                                    </div>







                                    {{!-- <li>
                                        {{this.arrayOfJobUrl}}
                                    </li>
                                    <li>
                                        {{this.arrayOfJobLocation}}
                                    </li>
                                    <li>
                                        {{this.arrayOfJobOrganizationName}}
                                    </li> --}}


                                    <div class="row">
                                        <br>
                                    </div>

                                </div>
                            </div>
                            <div class="card-header">
                                These are the Jobs:
                            </div>
                            <div class="card-body">
                                <div class="resultlist">

                                    {{#each jobs}}

                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{this.MatchedObjectDescriptor.PositionTitle}}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{this.MatchedObjectDescriptor.PositionLocationDisplay}}</h6>
                                            <p class="card-text"> {{this.MatchedObjectDescriptor.OrganizationName}}</p>
                                            <a href={{this.MatchedObjectDescriptor.ApplyURI}} class="card-link">"Click
                                                here to Apply!</a>
                                            <button type="button" class="btn btn-primary btn-sm" id="submitResult">Save
                                                Job To Profile</button>

                                        </div>
                                    </div>


                                    {{/each}}





                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="force-height"></div>
                </div>
            </div>
        </div>