<div class="row">

    <header>
    </header>
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="scaling-svg-container">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:link="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" viewBox="0 0 2000 300" style="enable-background:new 0 0 2000 300;"
                            xml:space="preserve">
                            <style type="text/css">
                                st0 {
                                    fill: none;
                                    stroke: #FFFFFF;
                                    stroke-width: 3;
                                    stroke-miterlimit: 10;
                                }
                            </style>

                            <defs id="SvgjsDefs1001"></defs>
                            <g id="SvgjsG1009" featurekey="text1" fill="#ffffff" transform="matrix(6.867828660585633,0,0,6.867828660585633,-11.125891468695814,63.66085997190774)">
                                <path d="M11.1 14.1 l3.02 4.62 c0.14 0.22 0.16 0.48 0.02 0.72 c-0.12 0.22 -0.36 0.36 -0.6 0.36 l-1.82 0 c-0.24 0 -0.46 -0.12 -0.58 -0.32 l-3.04 -4.82 l-3.56 0 l0 4.44 c0 0.38 -0.32 0.7 -0.7 0.7 l-1.52 0 c-0.38 0 -0.7 -0.32 -0.7 -0.7 l0 -6.58 c0 -0.38 0.32 -0.7 0.7 -0.7 l6.16 0 c1.16 0 1.94 -0.32 2.34 -1 c0.14 -0.22 0.2 -0.54 0.2 -0.92 c0 -0.66 -0.2 -1.12 -0.62 -1.48 c-0.44 -0.4 -1.06 -0.58 -1.84 -0.58 l-6.24 0 c-0.38 0 -0.7 -0.32 -0.7 -0.7 l0 -1.44 c0 -0.38 0.32 -0.7 0.7 -0.7 l6.42 0 c1.54 0 2.8 0.44 3.74 1.32 c0.98 0.88 1.46 2.08 1.46 3.58 c0 1.94 -0.86 3.34 -2.5 4.06 c-0.1 0.04 -0.22 0.1 -0.34 0.14 z M27 5 c0.4 0 0.7 0.32 0.7 0.7 l0 1.44 c0 0.38 -0.3 0.7 -0.7 0.7 l-7.56 0 l0 3.06 l6.68 0 c0.4 0 0.7 0.32 0.7 0.7 l0 1.46 c0 0.38 -0.3 0.7 -0.7 0.7 l-6.68 0 l0 3.08 l7.56 0 c0.4 0 0.7 0.32 0.7 0.7 l0 1.44 c0 0.38 -0.3 0.7 -0.7 0.7 l-9.76 0 c-0.38 0 -0.7 -0.32 -0.7 -0.7 l0 -13.28 c0 -0.38 0.32 -0.7 0.7 -0.7 l9.76 0 z M39.82 12.42 c1.12 0.72 1.74 1.78 1.74 3.06 c0 1.48 -0.58 2.62 -1.7 3.42 c-1.04 0.72 -2.48 1.1 -4.26 1.1 c-2.02 0 -3.6 -0.44 -4.7 -1.32 c-1.02 -0.82 -1.6 -1.98 -1.74 -3.44 c-0.02 -0.2 0.04 -0.4 0.18 -0.54 s0.32 -0.22 0.52 -0.22 l1.56 0 c0.38 0 0.68 0.28 0.7 0.64 c0.04 0.68 0.34 1.16 0.98 1.54 c0.6 0.34 1.46 0.52 2.52 0.52 c3.04 0 3.04 -1.2 3.04 -1.64 c0 -0.32 -0.12 -0.52 -0.38 -0.7 c-0.38 -0.26 -0.88 -0.48 -1.48 -0.66 c-0.66 -0.2 -1.38 -0.38 -2.14 -0.56 c-0.82 -0.18 -1.6 -0.42 -2.3 -0.7 c-0.76 -0.32 -1.42 -0.72 -1.92 -1.24 c-0.58 -0.58 -0.88 -1.36 -0.88 -2.3 c0 -1.3 0.5 -2.38 1.5 -3.2 c0.96 -0.78 2.36 -1.18 4.2 -1.18 s3.3 0.44 4.36 1.32 c0.98 0.8 1.52 1.86 1.58 3.14 c0.02 0.18 -0.06 0.38 -0.18 0.52 c-0.14 0.12 -0.32 0.2 -0.5 0.2 l-1.56 0 c-0.34 0 -0.64 -0.26 -0.68 -0.6 c-0.06 -0.52 -0.3 -1.24 -1.62 -1.6 c-0.4 -0.12 -0.92 -0.18 -1.52 -0.18 s-1.1 0.06 -1.48 0.2 c-0.38 0.12 -0.66 0.26 -0.84 0.42 c-0.16 0.14 -0.26 0.28 -0.3 0.42 c-0.06 0.2 -0.1 0.42 -0.1 0.64 c0 0.04 0 0.16 0.18 0.34 c0.2 0.18 0.46 0.36 0.8 0.48 c0.4 0.18 0.86 0.32 1.38 0.44 c0.54 0.14 1.1 0.28 1.68 0.42 s1.16 0.3 1.72 0.48 c0.6 0.2 1.16 0.46 1.64 0.78 z  M55.72 5 c0.38 0 0.7 0.32 0.7 0.7 l0 7.56 c0 1.94 -0.6 3.54 -1.78 4.76 c-1.18 1.2 -2.72 1.82 -4.58 1.82 s-3.38 -0.62 -4.56 -1.82 c-1.18 -1.22 -1.78 -2.82 -1.78 -4.76 l0 -7.56 c0 -0.38 0.32 -0.7 0.7 -0.7 l1.5 0 c0.38 0 0.7 0.32 0.7 0.7 l0 7.6 c0 1.24 0.34 2.18 1.06 2.84 c0.6 0.56 1.38 0.84 2.38 0.84 c0.98 0 1.78 -0.28 2.4 -0.84 c0.7 -0.66 1.06 -1.58 1.06 -2.84 l0 -7.6 c0 -0.38 0.3 -0.7 0.68 -0.7 l1.52 0 z M68.94 16.84 c0.4 0 0.7 0.32 0.7 0.7 l0 1.44 c0 0.38 -0.3 0.7 -0.7 0.7 l-8.74 0 c-0.38 0 -0.7 -0.32 -0.7 -0.7 l0 -13.28 c0 -0.38 0.32 -0.7 0.7 -0.7 l1.5 0 c0.38 0 0.7 0.32 0.7 0.7 l0 11.14 l6.54 0 z M81.72 5 c0.38 0 0.68 0.32 0.68 0.7 l0 1.44 c0 0.38 -0.3 0.7 -0.68 0.7 l-3.94 0 l0 11.14 c0 0.38 -0.32 0.7 -0.7 0.7 l-1.5 0 c-0.4 0 -0.7 -0.32 -0.7 -0.7 l0 -11.14 l-3.94 0 c-0.38 0 -0.7 -0.32 -0.7 -0.7 l0 -1.44 c0 -0.38 0.32 -0.7 0.7 -0.7 l10.78 0 z M94 12.42 c1.12 0.72 1.74 1.78 1.74 3.06 c0 1.48 -0.58 2.62 -1.7 3.42 c-1.04 0.72 -2.48 1.1 -4.26 1.1 c-2.02 0 -3.6 -0.44 -4.7 -1.32 c-1.02 -0.82 -1.6 -1.98 -1.74 -3.44 c-0.02 -0.2 0.04 -0.4 0.18 -0.54 s0.32 -0.22 0.52 -0.22 l1.56 0 c0.38 0 0.68 0.28 0.7 0.64 c0.04 0.68 0.34 1.16 0.98 1.54 c0.6 0.34 1.46 0.52 2.52 0.52 c3.04 0 3.04 -1.2 3.04 -1.64 c0 -0.32 -0.12 -0.52 -0.38 -0.7 c-0.38 -0.26 -0.88 -0.48 -1.48 -0.66 c-0.66 -0.2 -1.38 -0.38 -2.14 -0.56 c-0.82 -0.18 -1.6 -0.42 -2.3 -0.7 c-0.76 -0.32 -1.42 -0.72 -1.92 -1.24 c-0.58 -0.58 -0.88 -1.36 -0.88 -2.3 c0 -1.3 0.5 -2.38 1.5 -3.2 c0.96 -0.78 2.36 -1.18 4.2 -1.18 s3.3 0.44 4.36 1.32 c0.98 0.8 1.52 1.86 1.58 3.14 c0.02 0.18 -0.06 0.38 -0.18 0.52 c-0.14 0.12 -0.32 0.2 -0.5 0.2 l-1.56 0 c-0.34 0 -0.64 -0.26 -0.68 -0.6 c-0.06 -0.52 -0.3 -1.24 -1.62 -1.6 c-0.4 -0.12 -0.92 -0.18 -1.52 -0.18 s-1.1 0.06 -1.48 0.2 c-0.38 0.12 -0.66 0.26 -0.84 0.42 c-0.16 0.14 -0.26 0.28 -0.3 0.42 c-0.06 0.2 -0.1 0.42 -0.1 0.64 c0 0.04 0 0.16 0.18 0.34 c0.2 0.18 0.46 0.36 0.8 0.48 c0.4 0.18 0.86 0.32 1.38 0.44 c0.54 0.14 1.1 0.28 1.68 0.42 s1.16 0.3 1.72 0.48 c0.6 0.2 1.16 0.46 1.64 0.78 z "></path>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>

        <div class="results">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-lg-columns">

                            <div class="card-header">
                                Your Matching Results:
                            </div>
                            <div class="card-body">
                                <div class="resultlist">

                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">{{#each jobsMatched}}
                                                {{this}}
                                                {{/each}}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{#each jobsMatched3}}
                                                {{this}}
                                                {{/each}}</h6>
                                            <p class="card-text">{{#each jobsMatched4}}
                                                {{this}}
                                                {{/each}}</p>
                                            <a href={{#each jobsMatched2}} {{this}} {{/each}} class="card-link">"Click
                                                here to Apply!</a>
                                            <button type="button" class="btn btn-primary btn-sm" id="submitResult">Save
                                                Job To Profile</button>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <br>
                                    </div>

                                </div>
                            </div>
                            <div class="card-header">
                                These are the Jobs:
                            </div>
                            <div class="card-body">
                                <div class="resultlist">

                                    {{#each jobs}}

                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">{{this.MatchedObjectDescriptor.PositionTitle}}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{this.MatchedObjectDescriptor.PositionLocationDisplay}}</h6>
                                            <p class="card-text"> {{this.MatchedObjectDescriptor.OrganizationName}}</p>
                                            <a href={{this.MatchedObjectDescriptor.ApplyURI}} class="card-link">"Click
                                                here to Apply!</a>
                                            <button type="button" class="btn btn-primary btn-sm" id="submitResult">Save
                                                Job To Profile</button>

                                        </div>
                                    </div>


                                    {{/each}}





                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="force-height"></div>
            </div>

        </div>
    </div>