<div class="row">
    <div class="col-8 offset-2">
        <h1>Hello {{user.email}}!</h1>
        <header>
            <h1 id="djr">Dream Job Results!<span class="badge badge-secondary"></span></h1>
        </header>
        <div class="container">
            <div class="results">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-header">
                                Your Results:
                            </div>
                            <div class="card-body">
                                <div class="resultlist">

                                    {{#each jobs}}
                                    <li>
                                        {{this.MatchedObjectDescriptor.PositionTitle}}
                                    </li>
                                    <li>
                                        {{this.MatchedObjectDescriptor.ApplyURI}}
                                    </li>
                                    <li>
                                        {{this.MatchedObjectDescriptor.PositionLocationDisplay}}
                                    </li>
                                    <li>
                                        {{this.MatchedObjectDescriptor.OrganizationName}}
                                    </li>
                                    <li>
                                        
                                    </li>
                                    {{!-- {{this.MatchedObjectDescriptor.PositionSchedule.Name}} --}}
                                    {{!-- {{this.MatchedObjectDescriptor.PositionLocation.CountrySubDivisionCode}} --}}
                                    
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="force-height"></div>
                </div>
            </div>
        </div>